<div class="form splash" id="signup">

	<h1>New Chomper</h1>

	<% if @user.errors.any? %>
	    <h3 style="color:red">Please fix the appropriate fields:</h3>
	<% end %>
	<%= render partial: 'form', locals: { new_user: true, delete: false, edit: false } %>

</div>