<div id="gamesIndex">
<!-- 	<img src="http://i.imgur.com/d5jOKlH.png?1" style="max-width: 250px; margin: 15px 0 2px 0;"> -->
	<h2>OVERVIEW:</h2>

	<p>Use your arrow keys to navigate the board. Press ‘enter’ to chomp. Chomp the answer to the question that appears on top of the board. Chomp the board before time runs out! 3 wrong answers and it’s game over!</p>

	<a href="/games/new" class="button blink">Start Game!</a>
</div>