<div id="newPage">
	<h2>Choose Category</h2>
	<div id="categories">
			<a href="/games/playGame?category=invention" class="button">Inventions</a><br>
			<a href="/games/playGame?category=movie" class="button">Movies</a><br>
			<a href="/games/playGame?category=politic" class="button">Politics</a><br>
			<a href="/games/playGame?category=baseball" class="button">Baseball</a>
		</div>
</div>