<div id="newPage">
	<h2>Choose Category</h2>
	<div id="categories">
			<a href="/games/playGame?category=invention">Inventions</a><br>
			<a href="/games/playGame?category=movie">Movies</a><br>
			<a href="/games/playGame?category=politic">Politics</a><br>
			<a href="/games/playGame?category=baseball">Baseball</a>
		</div>
</div>