<div id="newPage">
	<h2>Choose Category</h2>
	<div id="categories">
			<a href="/games/playGame?category=invention">New Invention Game</a>
			<a href="/games/playGame?category=movie">New Movie Game</a>
		</div>
</div>