<script>
  var triviaConnector = <%= raw(@trivia.to_json) %>;

  $(function() {
  	var chomperCurrentLocation = 0;
	  var blink = function() {$('.blink').animate({opacity: '1'}, 1000, function(){$(this).animate({opacity: '0'}, blink);});}
	  blink();
	  alert("chomperCurrentLocation: " + chomperCurrentLocation);
	  game.start();
	  game.category = '<%= @gameType %>';

	  // this line adds event listeners to all cells and runs the playGame function if cell is clicked. 
	  //$('.cell').on('click', playGame);
	  

	  // var character = "<img src='<%= current_user.chomper %>' id='chomper'>";
	  var character = "<img src='http://i.imgur.com/xt8U22z.png' id='chomper'>";
	  var freeze = false;
	  $('#0').append(character);
		$(document).keydown(function(e) {
			
			if (chomperCurrentLocation < 15 && chomperCurrentLocation >= 0){
		    switch(e.which) {
		    	
	        case 37: // left
	          freeze = false;
						$('#chomper').remove();
						if (chomperCurrentLocation === 0 || chomperCurrentLocation === 5 || chomperCurrentLocation === 10){
							chomperCurrentLocation += 4;
						}
						else {
							chomperCurrentLocation -= 1;
						}
						
						$('#' + chomperCurrentLocation).append(character);
	        break;

	        case 38: // up
	          freeze = false;
	        	$('#chomper').remove();
						if (chomperCurrentLocation >= 0 && chomperCurrentLocation <= 4){
							chomperCurrentLocation += 10;
						}
						else {
							chomperCurrentLocation -= 5;
						}
						
						$('#' + chomperCurrentLocation).append(character);
	        break;

	        case 39: // right
	          freeze = false;
						$('#chomper').remove();
						if (chomperCurrentLocation === 4 || chomperCurrentLocation === 9 || chomperCurrentLocation === 14){
							chomperCurrentLocation -= 4;
						}
						else {
							chomperCurrentLocation += 1;
						}
						
						$('#' + chomperCurrentLocation).append(character);
	        break;

	        case 40: // down
	          freeze = false;
	        	$('#chomper').remove();
						if (chomperCurrentLocation >= 10 && chomperCurrentLocation <= 14){
							chomperCurrentLocation -= 10;
						}
						else {
							chomperCurrentLocation += 5;
						}
						
						$('#' + chomperCurrentLocation).append(character);
	        break;

	        case 13: //enter key
	          if (!freeze) {
	        	  playGame(chomperCurrentLocation);
	        	  freeze = true;
	        	}
	        break;

	        default: break; // exit this handler for other keys
	      }
	    
	      e.preventDefault(); // prevent the default action (scroll / move caret)
  		}
		});
	});

	function playGame(position){
		game.play(position);
	}

	// function playGame(){
	// 	game.play(this.id);
	// }

	// game timer that loads when the document page is ready

$(document).ready(function() {
    var maxWidth = 880;
    var duration = 60000;
    var timer;
    var timeComplete = false;
    var $bar = $('#bar');
      Horloge(maxWidth);
      timer = setInterval('Horloge('+maxWidth+')', 10);

      $bar.animate({
          width: maxWidth
      }, duration, function() {
          $(this).css('background-color', 'red');
          timeComplete = true;
          clearInterval(timer);    
    });
});

function Horloge(maxWidth) {
    var w = $('#bar').width();
    var percent = parseInt((w * 100) / maxWidth);
}
</script>

<div id="gamePage">
	<h2>
		<div id="totalScore">000</div>
	</h2>

	<div id="bar"></div>

	<div id="lives" style="height:50px; width:250px; clear:both;">
		<span id="life1"></span>
		<span id="life2"></span>
		<span id="life3"></span>
	</div>

	<h2>
		<div id="question"></div>
	</h2>

	<div id="gameBoard">
		<div class="row">
			<div class="cell" id="0">0</div>
			<div class="cell" id="1">1</div>
			<div class="cell" id="2">2</div>
			<div class="cell" id="3">3</div>
			<div class="cell" id="4">4</div>
		</div>
		<div class="row">
			<div class="cell" id="5">5</div>
			<div class="cell" id="6">6</div>
			<div class="cell" id="7">7</div>
			<div class="cell" id="8">8</div>
			<div class="cell" id="9">9</div>
		</div>
		<div class="row">
			<div class="cell" id="10">10</div>
			<div class="cell" id="11">11</div>
			<div class="cell" id="12">12</div>
			<div class="cell" id="13">13</div>
			<div class="cell" id="14">14</div>
		</div>
	</div>

	<a href='/games/new' class='button' id='endGame'>End Game</a>
	<a class="button" onclick="saveQuestion();">Save Question</a>
</div>
