/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*-----------------------------------------FONT IMPORTS--------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Hanalei+Fill|Underdog|Bowlby+One+SC|VT323|Share+Tech+Mono|Press+Start+2P);

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/


/*-----------------GLOBAL STYLING--------------------*/

body {
    width: 85%;
    margin: 50px auto;
    /*background: black;*/
    background: url(http://i.imgur.com/GbNjPFV.png);
    cursor: default;
}

#header {
    color: #82ff05;

    /*PROBABLY NOTS*/
    /*font-family: 'Press Start 2P', cursive;*/

    /*MAYBE*/
    /*font-family: 'Hanalei Fill', cursive;*/
    /*font-family: 'Underdog', cursive;*/
    /*font-family: 'Bowlby One SC', cursive;*/
    /*font-family: 'VT323', cursive;*/
    font-family: 'Share Tech Mono', cursive;
    font-size: 50px;
    letter-spacing: 10px;    
    line-height: 75px;
    text-align: center;
    margin: 0;
}

.button {
    display: block;
    width: 450px;
    padding: 15px;
    border: 3px solid #82ff05;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 150px;
    
    background: black;
    color: #82ff05;
    cursor: pointer; cursor: hand;

    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    text-align: center;
}

#gameBoard {
    width: 880px;
    margin: 0 auto;
    display: table;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    width: 160px;
    height: 160px;
    margin: 250px;
    border-radius: 5px;
    border: 3px solid #e0d9d2;

    text-align: center;
    color: #e3799a;
    font-size: 18px;
    z-index: 0;
}

#chomper {
    max-width: 50px;
    position: absolute;
    margin: 0 auto;
    opacity: 0.5;
    z-index: 1;
}

#lives {
    border: 3px dashed white;
    display: inline-block; 
    width: 150px;
    margin: 0 auto;
}

#lives>div>img {
    float: left;
    max-width: 50px;
    margin: 0 auto;
}

.inactiveCell, .correctCell {
    background: red;
    cursor: default;
}

.correctCell {
    background: #82ff05;
}

h2 {
    color: red;
    text-align: center;
}

#question {
    height: 2.25em;
}

#bar {
    margin: 0 auto;
    width: 0px;
    height: 25px;
    border: 1px solid black;
    background: #82ff05;
    border-radius: 3px;
}

/*-----------------EVENT HANDLERS ------------------*/
.cell:hover {
    cursor: pointer; 
    cursor: hand;
    border: 3px solid #82ff05;
}

.inactiveCell:hover, .correctCell:hover {
    border: 3px solid #e0d9d2;
}

/*shows what fields have errors in a form, if the form page doesn't save and is rerendered*/
.field_with_errors input {
    border: 2px solid red;
}

/*////////////////////////////////////////////////////////////*/