/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*-----------------------------------------FONT IMPORTS--------------------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Hanalei+Fill|Underdog|Bowlby+One+SC|VT323|Share+Tech+Mono|Press+Start+2P);

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/


/*-----------------GLOBAL STYLING--------------------*/

body {
    width: 85%;
    margin: 50px auto;
/*    background: black;
*/    cursor: default;
}

#header {
    color: #82ff05;

    /*PROBABLY NOTS*/
    /*font-family: 'Press Start 2P', cursive;*/

    /*MAYBE*/
    /*font-family: 'Hanalei Fill', cursive;*/
    /*font-family: 'Underdog', cursive;*/
    font-family: 'Bowlby One SC', cursive;
    /*font-family: 'VT323', cursive;*/
    /*font-family: 'Share Tech Mono', cursive;*/
    font-size: 75px;
    letter-spacing: 10px;    
    line-height: 75px;
    text-align: center;
    margin: 0;
}

.button {
    display: block;
    width: 450px;
    padding: 15px;
    border: 3px solid #82ff05;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 150px;
    
    background: black;
    color: #82ff05;
    cursor: pointer; cursor: hand;

    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    text-align: center;
}

h2 {
    color: red;
    text-align: center;

}

#totalScore {
    display: block;
/*    margin-top: -50px;
*/}

a {
    color: yellow;
}

.row {
    display: table;
    width: 880px;
/*    height: 176px;*/
    margin: 0 auto;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    width: 160px;
    height: 160px;
/*    background: #ebe6e1;
*/  margin: 250px;
    border-radius: 5px;
    border: 3px solid #e0d9d2;

    text-align: center;
    color: #e3799a;
    font-size: 18px;
}

/*-----------------EVENT HANDLERS ------------------*/
.cell:hover {
    cursor: pointer; cursor: hand;
    border: 3px solid #82ff05;
}

/*shows what fields have errors in a form, if the form page doesn't save and is rerendered*/
.field_with_errors input {
    border: 2px solid red;
}

/*////////////////////////////////////////////////////////////*/