.form {
    width: 350px;
    max-width: 406px;
    margin: 100px auto;
}

h4#signup {
    text-align: right;
    margin-bottom: -20px;
}

#signup a, span#cancel a {
    color: #25272a;
    font-weight: lighter;
    text-decoration: none;
}

span#cancel {
    display: block;
    margin-top: 5px;
    text-align: right;
}

#login {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow: 
        0px 0px 0px 5px rgba( 33,90,92,0.4 ), 
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#login>h1 {
    margin-bottom: 20px;
}

#login>hr {
    background: #e8e8e8;
    margin: 0px auto;
}

#login .input {
    margin-top: 25px;
}

#login .input label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

#login #submit {
    width: 100%;
    margin-top: 20px;
    padding: 14px 0;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #737b8d;
    display: table;
    position: static;
    clear: both;
}

#login h3 {
    display: inline-block;
    width: 100%;
    margin: 5px;
    margin-top: 0;
    text-align: center;
}

#login h3>a {
    color: black;
}

#login input[type="radio"]{
    float: left;
    margin-right: 7px;
}

.input>h4 {
    font-size: 18px;
    margin-bottom: 12px;
}

#login #delete>a {
    color: black;
}

#characters {
    display: inline-block;
    text-align: center;

}

.radioCombo {
    display: inline-block;  
}

.radioCombo img {
    max-width: 100px;
}

/*-------EVENT HANDLERS------*/

#signup a:hover, span#cancel a:hover {
    color: #bf4ac1;
}

#login #submit:hover {
    background: #ef5bf3;
    border: 3px solid #215a5c;
    color: white;
}

